<DOCTYPE Html5>
    <html>
<head>
    <title>Assignment-5- page 2</title>
    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
</head>
<body>
    
    <style>
        img.svg-banner {
          width: 100%;
          height: 300px;
        }
      </style>
    
      <img src="../resources/favicon.svg" alt="SVG Banner" class="svg-banner">

       <nav class = "menue">
        <ul>
        <li><a href="../index.html">Home Page</a>  </li>
        <li><a href="two.html">Page two  </a></li>
        <li><a href="three.html">Page three</a>  </li>

        </ul>
        </nav>
        <h1>Favorite Coding Resources</h1>
        <table bgcolor = "black">
            <tr bgcolor ="white">
                <th>Coading Resource</th>
                <th>Link</th>
            </tr>
            <tr bgcolor ="white">
                <td> W3Schools</td>
                <td> <a href="https://www.w3schools.com/js/default.asp">https://www.w3schools.com/js/default.asp</a></td>
            </tr>
            <tr bgcolor ="white">
                <td>Mozilla Developer Network </td>
                <td> <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">https://developer.mozilla.org/en-US/docs/Web/JavaScript</a></td>
            </tr>
            <tr bgcolor ="white">
                <td>JavaScript Tutorial</td>
                <td><a href="https://www.javascripttutorial.net/">https://www.javascripttutorial.net/</a> </td>
            </tr>
            <tr bgcolor ="white">
                <td> DigitalOcean Network
                </td>
                <td><a href="https://www.digitalocean.com/community/tags/javascript">https://www.digitalocean.com/community/tags/javascript </a></td>
            </tr>
        </table> 
</body>
</html>